openapi: 3.0.3
info:
  title: EIS DaaS Portal API
  description: |
    ### ⚙️ Interfacciamento al Modulo DaaS (Device as a Service) del Portale EIS

    Questa suite di API è fondamentale per **provisionare e configurare i servizi** necessari alla gestione completa del ciclo di vita dei dispositivi (DaaS). Fornisce gli strumenti per gestire l'anagrafica, i cataloghi prodotti, le offerte commerciali e gli ordini di assistenza.

    ---

    ### Flusso Operativo Obbligatorio

    Le chiamate devono seguire la seguente sequenza logica:

    #### 1. Preparazione Iniziale (Dati Base)
    * **Creare Anagrafica**
    * **Creare Categoria / Fornitore**
    * **Aggiungere Prodotto**

    #### 2. Creazione Offerta
    * Creare Offerta
    * Associare Devices
    * Aggiungere Accessori / Servizi

    #### 3. Creazione Ordine di Assistenza
    * Generare un ordine per device

    ---

    ### Istruzioni POST e Caricamento File

    Per associare file multipli agli elementi, usare: `"files.{idElement}"`

    Esempio:  
    `files.24 => [ image1.jpg, img2.png ]`

    Nomi file consentiti: A-Z a-z 0-9 spazio _ . -  
    Dimensione max: **5MB**

  version: 1.0.11
  contact:
    email: sviluppo@eis.it

servers:
  - url: https://api.eis.it
    description: Production server

externalDocs:
  description: Find out more about our solutions
  url: https://wiki.eis.it

tags:
  - name: 📋DaaS
    description: "Device as a Service (macro-category containing accessories, devices, services, and contracts)."
  - name: DaaS/Accessories
    description: "Endpoints related to DaaS accessories."
  - name: DaaS/Services
    description: "Endpoints related to DaaS services."
  - name: DaaS/Devices
    description: "Endpoints related to DaaS devices."
  - name: DaaS/Contracts
    description: "Endpoints related to DaaS contracts."
  - name: 💻Products
    description: "Endpoints for managing products."

paths:
  # ACCESSORIES
  /v1/daas/accessory/list:
    $ref: "./components/paths/accessories.yaml#/paths/~1v1~1daas~1accessory~1list"
  /v1/daas/accessory/{id}:
    $ref: "./components/paths/accessories.yaml#/paths/~1v1~1daas~1accessory~1{id}"
  /v1/daas/device/{id}/accessory/list:
    $ref: "./components/paths/accessories.yaml#/paths/~1v1~1daas~1device~1{id}~1accessory~1list"
  /v1/daas/accessory/add:
    $ref: "./components/paths/accessories.yaml#/paths/~1v1~1daas~1accessory~1add"
  /v1/daas/accessory/edit:
    $ref: "./components/paths/accessories.yaml#/paths/~1v1~1daas~1accessory~1edit"

  # SERVICES
  /v1/daas/service/list:
    $ref: "./components/paths/services.yaml#/paths/~1v1~1daas~1service~1list"
  /v1/daas/service/{id}:
    $ref: "./components/paths/services.yaml#/paths/~1v1~1daas~1service~1{id}"
  /v1/daas/device/{id}/service/list:
    $ref: "./components/paths/services.yaml#/paths/~1v1~1daas~1device~1{id}~1service~1list"
  /v1/daas/service/add:
    $ref: "./components/paths/services.yaml#/paths/~1v1~1daas~1service~1add"
  /v1/daas/service/edit:
    $ref: "./components/paths/services.yaml#/paths/~1v1~1daas~1service~1edit"

  # CONTRACTS
  /v1/daas/contract/list:
    $ref: "./components/paths/contracts.yaml#/paths/~1v1~1daas~1contract~1list"
  /v1/daas/contract/{id}:
    $ref: "./components/paths/contracts.yaml#/paths/~1v1~1daas~1contract~1{id}"
  /v1/daas/contract/add:
    $ref: "./components/paths/contracts.yaml#/paths/~1v1~1daas~1contract~1add"

  # DEVICES
  /v1/daas/contract/{id}/devices:
    $ref: "./components/paths/devices.yaml#/paths/~1v1~1daas~1contract~1{id}~1devices"
  /v1/daas/device/{id}:
    $ref: "./components/paths/devices.yaml#/paths/~1v1~1daas~1device~1{id}"
  /v1/daas/device/{id}/element:
    $ref: "./components/paths/devices.yaml#/paths/~1v1~1daas~1device~1{id}~1element"

  # PRODUCTS
  /v1/product/:
    $ref: "./components/paths/products.yaml#/paths/~1v1~1product~1"
  /v1/product/filter:
    $ref: "./components/paths/products.yaml#/paths/~1v1~1product~1filter"
  /v1/product/details/{id}:
    $ref: "./components/paths/products.yaml#/paths/~1v1~1product~1details~1{id}"
  /v1/product/delete/{id}/{organizationId}:
    $ref: "./components/paths/products.yaml#/paths/~1v1~1product~1delete~1{id}~1{organizationId}"
  /v1/product/add:
    $ref: "./components/paths/products.yaml#/paths/~1v1~1product~1add"
  /v1/product/edit:
    $ref: "./components/paths/products.yaml#/paths/~1v1~1product~1edit"

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic

  schemas:
    # REQUEST SCHEMAS
    AddAccessoryRequest:
      $ref: "./components/schemas/request/AddAccessoryRequest.yaml"
    EditAccessoryRequest:
      $ref: "./components/schemas/request/EditAccessoryRequest.yaml"
    AddServiceRequest:
      $ref: "./components/schemas/request/AddServiceRequest.yaml"
    EditServiceRequest:
      $ref: "./components/schemas/request/EditServiceRequest.yaml"
    AddContractRequest:
      $ref: "./components/schemas/request/AddContractRequest.yaml"
    DeviceElementRequest:
      $ref: "./components/schemas/request/DeviceElementRequest.yaml"
    AddDevicesToContractRequest:
      $ref: "./components/schemas/request/AddDevicesToContractRequest.yaml"
    AddProductRequest:
      $ref: "./components/schemas/request/AddProductRequest.yaml"
    EditProductRequest:
      $ref: "./components/schemas/request/EditProductRequest.yaml"

    # RESPONSE SCHEMAS
    DaasDevice:
      $ref: "./components/schemas/response/DaasDevice.yaml"
    DaasAccessory:
      $ref: "./components/schemas/response/DaasAccessory.yaml"
    DaasService:
      $ref: "./components/schemas/response/DaasService.yaml"
    DaasContract:
      $ref: "./components/schemas/response/DaasContract.yaml"
    Product:
      $ref: "./components/schemas/response/Product.yaml"

    # COMMON
    Organization:
      $ref: "./components/schemas/response/Organization.yaml"
