# openapi.yaml
openapi: 3.0.3
info:
  title: EIS DaaS Portal API
  description: |
    ### ⚙️ Interfacciamento al Modulo DaaS (Device as a Service) del Portale EIS

    Questa suite di API è fondamentale per **provisionare e configurare i servizi** necessari alla gestione completa del ciclo di vita dei dispositivi (DaaS). Fornisce gli strumenti per gestire l'anagrafica, i cataloghi prodotti, le offerte commerciali e gli ordini di assistenza.

    ---

    ### Flusso Operativo Obbligatorio

    Le chiamate devono seguire la seguente sequenza logica:

    #### 1. Preparazione Iniziale (Dati Base)
    * **Creare Anagrafica:** Registrazione del cliente.
    * **Creare Categoria / Fornitore (Marca):** Definizione della classificazione del prodotto.
    * **Aggiungere Prodotto:** Inserimento dell'articolo specifico.

    #### 2. Creazione Offerta
    * **Creare Offerta:** Inizializzazione della proposta commerciale.
    * **Associare all'Offerta i Devices:** Collegamento dei dispositivi all'offerta.
    * **Associare ai Devices i vari Accessori o Servizi:** Aggiunta di componenti e servizi extra (es. manutenzione) ai dispositivi.

    #### 3. Creazione Ordine di Assistenza
    * **Creazione Ordine di Assistenza:** Generazione della richiesta di supporto.

    ---

    ### Istruzioni POST e Caricamento File

    **Associazione di Multiple Immagini:**
    Per associare più immagini ai prodotti nell'array della richiesta (e.g., in un ordine di assistenza), inviare i file usando la dicitura: `"files.{idElement}"`.

    * **Esempio:** Per l'elemento con ID 24, inviare `files.24 => [ image1.jpg, img2.png ]`.

    **Regole sui Nomi dei File e Limiti:**
    * **Caratteri Ammessi:** Lettere (A-Z, a-z), Numeri (0-9), Spazio, Trattino basso (`_`), Punto (`.`), Trattino (`-`).
    * **Dimensione Massima:** I file possono avere una dimensione massima di **5MB** ciascuno.

    **Nota sull'Ordine di Assistenza:**
    Per creare un ordine di assistenza separato per ogni device (invece di uno singolo con più device), includere un solo device nell'array `"devices"` della richiesta.
  version: 1.0.11
  contact:
    email: sviluppo@eis.it
servers:
  - url: https://api.eis.it
    description: Production server
externalDocs:
  description: Find out more about our solutions
  url: https://wiki.eis.it

tags:
  - name: 📋DaaS
    description: "Device as a Service (macro-category containing accessories, devices, services, and contracts)."
  - name: DaaS/Accessories
    description: "Endpoints related to DaaS accessories (retrieve, list, and associate)."
  - name: DaaS/Services
    description: "Endpoints related to DaaS services (retrieve, list, and associate)."
  - name: DaaS/Devices
    description: "Endpoints related to DaaS devices and their associated items."
  - name: DaaS/Contracts
    description: "Endpoints related to DaaS contracts (list and retrieve individual contracts)."
  - name: 💻Products
    description: "Endpoints for managing products (retrieve all, filter, and get details)."

paths:
  # ACCESSORIES
  /v1/daas/accessory/list:
    $ref: "./paths/accessories.yaml#/v1/daas/accessory/list"
  /v1/daas/accessory/{id}:
    $ref: "./paths/accessories.yaml#/v1/daas/accessory/{id}"
  /v1/daas/device/{id}/accessory/list:
    $ref: "./paths/accessories.yaml#/v1/daas/device/{id}/accessory/list"
  /v1/daas/accessory/add:
    $ref: "./paths/accessories.yaml#/v1/daas/accessory/add"
  /v1/daas/accessory/edit:
    $ref: "./paths/accessories.yaml#/v1/daas/accessory/edit"

  # SERVICES
  /v1/daas/service/list:
    $ref: "./paths/services.yaml#/v1/daas/service/list"
  /v1/daas/service/{id}:
    $ref: "./paths/services.yaml#/v1/daas/service/{id}"
  /v1/daas/device/{id}/service/list:
    $ref: "./paths/services.yaml#/v1/daas/device/{id}/service/list"
  /v1/daas/service/add:
    $ref: "./paths/services.yaml#/v1/daas/service/add"
  /v1/daas/service/edit:
    $ref: "./paths/services.yaml#/v1/daas/service/edit"

  # CONTRACTS
  /v1/daas/contract/list:
    $ref: "./paths/contracts.yaml#/v1/daas/contract/list"
  /v1/daas/contract/{id}:
    $ref: "./paths/contracts.yaml#/v1/daas/contract/{id}"
  /v1/daas/contract/add:
    $ref: "./paths/contracts.yaml#/v1/daas/contract/add"

  # DEVICES (Alcuni endpoint sono anche in contracts/devices)
  /v1/daas/contract/{id}/devices:
    $ref: "./paths/devices.yaml#/v1/daas/contract/{id}/devices"
  /v1/daas/device/{id}:
    $ref: "./paths/devices.yaml#/v1/daas/device/{id}"
  /v1/daas/device/{id}/element:
    $ref: "./paths/devices.yaml#/v1/daas/device/{id}/element"

  # PRODUCTS
  /v1/product/:
    $ref: "./paths/products.yaml#/v1/product/"
  /v1/product/filter:
    $ref: "./paths/products.yaml#/v1/product/filter"
  /v1/product/details/{id}:
    $ref: "./paths/products.yaml#/v1/product/details/{id}"
  /v1/product/delete/{id}/{organizationId}:
    $ref: "./paths/products.yaml#/v1/product/delete/{id}/{organizationId}"
  /v1/product/add:
    $ref: "./paths/products.yaml#/v1/product/add"
  /v1/product/edit:
    $ref: "./paths/products.yaml#/v1/product/edit"

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic

  schemas:
    # REQUEST SCHEMAS (Riferimenti a ./components/schemas/Request/)
    AddAccessoryRequest:
      $ref: "./components/schemas/Request/AddAccessoryRequest.yaml"
    EditAccessoryRequest:
      $ref: "./components/schemas/Request/EditAccessoryRequest.yaml"
    AddServiceRequest:
      $ref: "./components/schemas/Request/AddServiceRequest.yaml"
    EditServiceRequest:
      $ref: "./components/schemas/Request/EditServiceRequest.yaml"
    AddContractRequest:
      $ref: "./components/schemas/Request/AddContractRequest.yaml"
    DeviceElementRequest:
      $ref: "./components/schemas/Request/DeviceElementRequest.yaml"
    AddDevicesToContractRequest:
      $ref: "./components/schemas/Request/AddDevicesToContractRequest.yaml"
    AddProductRequest:
      $ref: "./components/schemas/Request/AddProductRequest.yaml"
    EditProductRequest:
      $ref: "./components/schemas/Request/EditProductRequest.yaml"

    # RESPONSE SCHEMAS (Riferimenti a ./components/schemas/Response/)
    DaasDevice:
      $ref: "./components/schemas/Response/DaasDevice.yaml"
    DaasAccessory:
      $ref: "./components/schemas/Response/DaasAccessory.yaml"
    DaasService:
      $ref: "./components/schemas/Response/DaasService.yaml"
    DaasContract:
      $ref: "./components/schemas/Response/DaasContract.yaml"
    Product:
      $ref: "./components/schemas/Response/Product.yaml"
    # Schema comune (necessario per DaasAccessory, DaasService, Product)
    Organization:
      $ref: "./components/schemas/Response/Organization.yaml"
