openapi: 3.0.3
info:
  title: EIS DaaS Portal API
  description: |
    ### ⚙️ Interfacciamento al Modulo DaaS (Device as a Service) del Portale EIS

    Questa suite di API è fondamentale per **provisionare e configurare i servizi** necessari alla gestione completa del ciclo di vita dei dispositivi (DaaS). Fornisce gli strumenti per gestire l'anagrafica, i cataloghi prodotti, le offerte commerciali e gli ordini di assistenza.

    ---

    ### Flusso Operativo Obbligatorio

    Le chiamate devono seguire la seguente sequenza logica:

    #### 1. Preparazione Iniziale (Dati Base)
    * **Creare Anagrafica**
    * **Creare Categoria / Fornitore**
    * **Aggiungere Prodotto**

    #### 2. Creazione Offerta
    * Creare Offerta
    * Associare Devices
    * Aggiungere Accessori / Servizi

    #### 3. Creazione Ordine di Assistenza
    * Generare un ordine per device

    ---

    ### Istruzioni POST e Caricamento File

    Per associare file multipli agli elementi, usare: `"files.{idElement}"`

    Esempio:  
    `files.24 => [ image1.jpg, img2.png ]`

    Nomi file consentiti: A-Z a-z 0-9 spazio _ . -  
    Dimensione max: **5MB**

  version: 1.0.11
  contact:
    email: sviluppo@eis.it

servers:
  - url: https://api.eis.it
    description: Production server

externalDocs:
  description: Find out more about our solutions
  url: https://wiki.eis.it

tags:
  - name: 📋DaaS
    description: "Device as a Service (macro-category containing accessories, devices, services, and contracts)."
  - name: DaaS/Accessories
    description: "Endpoints related to DaaS accessories (retrieve, list, and associate)."
  - name: DaaS/Services
    description: "Endpoints related to DaaS services (retrieve, list, and associate)."
  - name: DaaS/Devices
    description: "Endpoints related to DaaS devices and their associated items."
  - name: DaaS/Contracts
    description: "Endpoints related to DaaS contracts (list and retrieve individual contracts)."
  - name: 💻Products
    description: "Endpoints for managing products (retrieve all, filter, and get details)."

paths:
  # ========================================================
  # 🔌 ACCESSORY ENDPOINTS
  # ========================================================
  "/v1/daas/accessory/list":
    $ref: "./accessories.yaml#/accessoryList"

  "/v1/daas/accessory/{id}":
    $ref: "./accessories.yaml#/accessoryById"

  "/v1/daas/device/{id}/accessory/list":
    $ref: "./accessories.yaml#/deviceAccessoryList"

  "/v1/daas/accessory/add":
    $ref: "./accessories.yaml#/accessoryAdd"

  "/v1/daas/accessory/edit":
    $ref: "./accessories.yaml#/accessoryEdit"

  # ========================================================
  # 🛠️ SERVICE ENDPOINTS
  # ========================================================
  "/v1/daas/service/list":
    $ref: "./services.yaml#/serviceList"

  "/v1/daas/service/{id}":
    $ref: "./services.yaml#/serviceById"

  "/v1/daas/device/{id}/service/list":
    $ref: "./services.yaml#/deviceServiceList"

  "/v1/daas/service/add":
    $ref: "./services.yaml#/serviceAdd"

  "/v1/daas/service/edit":
    $ref: "./services.yaml#/serviceEdit"

  # ========================================================
  # 💼 CONTRACT ENDPOINTS
  # ========================================================
  "/v1/daas/contract/list":
    $ref: "./contracts.yaml#/contractList"

  "/v1/daas/contract/{id}":
    $ref: "./contracts.yaml#/contractById"

  "/v1/daas/contract/add":
    $ref: "./contracts.yaml#/contractAdd"

  "/v1/daas/contract/{id}/devices":
    $ref: "./contracts.yaml#/contractDevices"

  # ========================================================
  # 💻 DEVICE ENDPOINTS
  # ========================================================
  "/v1/daas/device/{id}":
    $ref: "./devices.yaml#/deviceById"

  "/v1/daas/device/{id}/element":
    $ref: "./devices.yaml#/deviceElement"

  # ========================================================
  # 📦 PRODUCT ENDPOINTS
  # ========================================================
  "/v1/product/":
    $ref: "./products.yaml#/productList"

  "/v1/product/filter":
    $ref: "./products.yaml#/productFilter"

  "/v1/product/details/{id}":
    $ref: "./products.yaml#/productDetails"

  "/v1/product/delete/{id}/{organizationId}":
    $ref: "./products.yaml#/productDelete"

  "/v1/product/add":
    $ref: "./products.yaml#/productAdd"

  "/v1/product/edit":
    $ref: "./products.yaml#/productEdit"

components:
  securitySchemes:
    $ref: "./components/security.yaml"
  schemas:
    $ref: "./components/schemas.yaml"
